body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background: darkcyan;
}

a{
  font-size: 25px;
  text-decoration: none;
}


*{

  box-sizing: border-box;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

button{
  padding: 10px;
  font-size: 20px;
  text-transform: capitalize;
  background: #fff8dc;
  cursor: pointer;
}

button:hover{
  background: #e4d494;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-container{
  display: grid;
  gap: 0px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 2px solid white;
  width: 250px;
  height: 250px;
}

.grid-item{
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}